* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* header section */
nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.nav-logo > img {
    width: 8rem;
}

.nav-menu > ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-menu > ul > li > a {
    text-decoration: none;
    color: rgb(255, 213, 0);;
    font-weight: bold;
}

.nav-menu > ul > li > a:hover {
    text-decoration: underline;
    color: white;
}

button {
    padding: 0.7rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #f64f5f;
    background-color: #f64f5f;
    color: white;
}

button:hover {
    border: 2px solid rgb(255, 213, 0);;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 213, 0);;
}


/* hero section */
section {
    height: 85vh;
    text-align: center;
    position: relative;
}

section > h1 {
    font-size: 5rem;
    margin: 3rem;
    color: rgb(255, 213, 0);
}

section > img {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}